div {
  text-align: center;
}

label {
  text-align: left;
}

p {
  text-align: center;
}

.alert {
  color: white;
  margin-bottom: 15px;
  text-align: left;
}

.alert-danger {
  background-color: red;
}
